.glass {
  background: #1d1d1d;
  border-radius: 16px;
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(1000px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  @apply border-4 border-gray-700 shrink-0 h-[90%] w-[30%] rounded-3xl py-12 px-7 min-w-max;
}

.profile_img {
  @apply border-4 border-gray-100 h-[125px] w-[125px]  rounded-full shadow-lg cursor-pointer;
  @apply hover:border-gray-200;
}

.textbox {
  @apply border-0 px-5 py-3 rounded-xl w-3/4 shadow-sm text-lg;
  @apply focus:outline-none;
  color: #1d1d1d;
}

.btn {
  @apply border bg-blue-600 w-3/4 py-3 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}

.btn:hover {
  background-color: #014a9c;
}

.link {
  @apply text-red-500 m-1;
}

input[type="file"] {
  display: none;
}
